*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div.bar{
    width: 100%;
    margin: 10px 0px;
    font-size: 50px;
}
/* media queries help add responsiveness to elements; below query turns bar red when width of the screen reduces below 600px, above that, bar remains blue */
@media(max-width: 760px) {
    div.bar {
        font-size: 30px;
    }
@media(max-width: 450px) {
    div.bar {
        font-size: 15px;
    }
}